.title {
   margin: 5px 0px;
   font-size: 40px;
   text-align: center;
   font-weight: bold;
}

.text {
   font-size: 18px;
   text-indent: 15px;
}

.subtitle {
   font-size: 20px;
   font-weight: 600;
}

.link {
   text-align: center;
   font-size: 18px;
}

